{{template "base" .}}


{{define "content"}}




<div class="container">

    <div class="row">
        <div class="col mt-3">
            <img src="/static/images/generals-quarter.jpg" alt=""
                class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <h1 class="text-center mt-4">General's Quarters</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore dolor ex blanditiis ut sequi,
                suscipit tempora autem in. Sed, harum odit! Molestiae, vero magni iure natus quasi debitis et incidunt.
                Quasi quidem sequi maxime delectus nisi ex, nostrum, voluptatum illum quibusdam voluptates ipsa
                voluptatibus provident adipisci. Est quas quod delectus, perferendis rem blanditiis ex tenetur. Deserunt
                dolores amet cum sunt.
                Delectus minus, ducimus consequuntur debitis, quia, magnam rerum magni exercitationem vitae aliquam
                excepturi ex? Voluptates tempora, illo ad odio eaque eos, tenetur velit qui necessitatibus eius
                molestias sint quas vel?
                Illum, dolore. Explicabo quo rerum voluptates! Optio nihil nemo vitae nobis expedita hic non blanditiis
                commodi rerum nesciunt, eius ab dignissimos omnis id ratione accusantium dolor facilis! Maxime,
                explicabo repellendus!
                Non deserunt iure quaerat sequi, odit ducimus accusantium nemo quasi nesciunt voluptates ratione, cumque
                porro laboriosam fugit placeat, doloribus numquam tenetur dignissimos? Quibusdam excepturi tenetur
                distinctio odit, fugit temporibus culpa!
                Qui, suscipit dolorem maiores quia repudiandae nemo assumenda culpa facere rerum fugit cupiditate ab
                cum, blanditiis aperiam harum excepturi unde doloremque distinctio? Earum quia harum deserunt,
                distinctio tempora culpa nulla.
                Officiis ullam nisi cumque incidunt, totam voluptatem. Eveniet ex natus odit magnam dolor quidem quaerat
                eligendi ut esse aspernatur! Atque repellendus inventore in molestiae voluptas voluptates corrupti dicta
                tempore minima!
                Incidunt alias molestias amet, libero sed iusto! Esse natus possimus, commodi, dicta ad sequi nulla
                quibusdam ipsa maiores tempora nostrum? Ipsa nostrum quis quae et a sunt. Sint, et placeat!
                Perspiciatis nam, aspernatur mollitia eius dolore numquam quisquam aut dolores quas voluptatibus? Rerum,
                doloremque assumenda aspernatur sint corrupti impedit maxime tenetur molestias possimus nostrum, illum
                dolore laborum qui atque? Doloribus!
                Totam magnam dignissimos pariatur exercitationem iure cupiditate vel! Dignissimos error magni, deleniti,
                molestiae reprehenderit cumque eum, exercitationem dolore debitis nihil aperiam praesentium repellendus
                suscipit id explicabo iusto? Voluptate, sapiente nam?
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-3">
           
            <a class="btn btn-success btn-lg" id="check-availability-button" href="#!">Check Availability</a>
        </div>
    </div>
</div>
 <!-- #! means do nothing when clicked -->


{{end}}


{{define "js"}}

<script>

    document.getElementById("check-availability-button").addEventListener("click", function () {

        let html = `
<form action="" class="needs-validation row" id="check-availability-form" novalidate method="post">
<div  class="row" id="reservation-dates-modal">

    <div class="col"">
<input disabled required type="text"  class="form-control"  id="start" name="start" placeholder="Arrival" autocomplete="off"/>
  </div>

<div class="col">
  <input disabled required type="text" class="form-control" id="end" name="end" placeholder="Departure" autocomplete="off"/>
</div>

</div>

</form>
`


        attention.custom({
            msg: html,
            title: "Choose Your Dates",
            willOpen: () => {
                const elem = document.getElementById("reservation-dates-modal");
                const rp = new DateRangePicker(elem, {
                    format: "yyyy-mm-dd",
                    showOnFocus: true,
                    orientation: "top",
                    minDate: new Date(),
                })
            },
            didOpen: () => {

                document.getElementById("start").removeAttribute("disabled")
                document.getElementById("end").removeAttribute("disabled")

            },
            callback: function (formValues) {
                console.log("called");

                let form = document.getElementById("check-availability-form")
                let formData = new FormData(form);
                formData.append("csrf_token","{{.CSRFToken}}");
                formData.append("room_id","1");

        //fetch is built in function to fetch json, it gets json by response.json() which is nicely parsed in data, we can perform js on data

        fetch("/search-availability-json", {
            method: "post",
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if(data.ok){
                    
                    attention.custom({
                        icon:"success",
                        showConfirmButton: false,
                        msg: '<p>Room is Available!</p>'
                        + '<p><a href="/book-room?id='
                        + data.room_id
                        + '&s='
                        + data.start_date
                        + '&e='
                        + data.end_date
                        + '"class="btn btn-primary">' 
                        + 'Book now!</a></p>',
                    })
                }
                else{ 
                    attention.error({
                        msg:"No availability",
                    })
                }
            })
    }


});

  
  
  
  
  
  });
</script>

{{end}}


<!-- callback: function(result){
    console.log("called");
} -->