{{template "base" .}}


{{define "content"}}


<!-- carousel start -->

<div class="row">
  <div class="col">
    <div id="main-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/images/bed-view.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/room-view.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>2nd slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/outside-view.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>3rd slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/breakfast-on-table.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>4th slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- carousel end -->

<div class="container">
  <div class="row">
    <div class="col ">
      <h1 class="text-center mt-4">Welcome to Bed & Breakfast</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore dolor ex blanditiis ut sequi, suscipit
        tempora autem in. Sed, harum odit! Molestiae, vero magni iure natus quasi debitis et incidunt.
        Quasi quidem sequi maxime delectus nisi ex, nostrum, voluptatum illum quibusdam voluptates ipsa voluptatibus
        provident adipisci. Est quas quod delectus, perferendis rem blanditiis ex tenetur. Deserunt dolores amet cum
        sunt.
        Delectus minus, ducimus consequuntur debitis, quia, magnam rerum magni exercitationem vitae aliquam excepturi
        ex? Voluptates tempora, illo ad odio eaque eos, tenetur velit qui necessitatibus eius molestias sint quas vel?
        Illum, dolore. Explicabo quo rerum voluptates! Optio nihil nemo vitae nobis expedita hic non blanditiis commodi
        rerum nesciunt, eius ab dignissimos omnis id ratione accusantium dolor facilis! Maxime, explicabo repellendus!
        Non deserunt iure quaerat sequi, odit ducimus accusantium nemo quasi nesciunt voluptates ratione, cumque porro
        laboriosam fugit placeat, doloribus numquam tenetur dignissimos? Quibusdam excepturi tenetur distinctio odit,
        fugit temporibus culpa!
        Qui, suscipit dolorem maiores quia repudiandae nemo assumenda culpa facere rerum fugit cupiditate ab cum,
        blanditiis aperiam harum excepturi unde doloremque distinctio? Earum quia harum deserunt, distinctio tempora
        culpa nulla.
        Officiis ullam nisi cumque incidunt, totam voluptatem. Eveniet ex natus odit magnam dolor quidem quaerat
        eligendi ut esse aspernatur! Atque repellendus inventore in molestiae voluptas voluptates corrupti dicta tempore
        minima!
        Incidunt alias molestias amet, libero sed iusto! Esse natus possimus, commodi, dicta ad sequi nulla quibusdam
        ipsa maiores tempora nostrum? Ipsa nostrum quis quae et a sunt. Sint, et placeat!
        Perspiciatis nam, aspernatur mollitia eius dolore numquam quisquam aut dolores quas voluptatibus? Rerum,
        doloremque assumenda aspernatur sint corrupti impedit maxime tenetur molestias possimus nostrum, illum dolore
        laborum qui atque? Doloribus!
        Totam magnam dignissimos pariatur exercitationem iure cupiditate vel! Dignissimos error magni, deleniti,
        molestiae reprehenderit cumque eum, exercitationem dolore debitis nihil aperiam praesentium repellendus suscipit
        id explicabo iusto? Voluptate, sapiente nam?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-3">
      <a class="btn btn-success btn-lg" href="/make-reservation">Make Reservation Now</a>
      <button type="button" class="btn btn-success btn-lg">Check Availability</button>
    </div>
  </div>
</div>



{{end}}